.header {
  background-image: url(../../images/pattern-bg.png);
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding-bottom: 7rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.header > h1 {
  width: 100%;
  text-align: center;
}

.form {
  display: flex;
  width: 85%;
  max-width: 30rem;
  margin: auto;
  margin-bottom: 1rem;
}
.form > input {
  padding: 0.8rem 1rem;
  flex: 1;
  font-size: 0.9rem;
  border-top-left-radius: 0.9rem;
  border-bottom-left-radius: 0.9rem;
  outline: none;
  border: 1px solid transparent;
  color: hsl(0, 0%, 17%);
}

@media only screen and (min-width: 1024px) {
  .form > input {
    font-size: 1.1rem;
  }
}

.form > input::placeholder {
  color: hsl(0, 0%, 59%);
}

.arrowBtn {
  background-color: black;
  padding: 0 1rem;
  border-top-right-radius: 0.9rem;
  border-bottom-right-radius: 0.9rem;
  cursor: pointer;
}
.arrowBtn:hover,
.arrowBtn:active {
  background-color: rgba(0, 0, 0, 0.7);
}
